<div class="row">
    <div id="header" class="large-12 columns">
        <h1>
            Sample app for ember-easyForm + ember-validations
        </h1>
    </div>
</div>

<div class="row">
    {{outlet}}
</div>
