<br />

<div id="signup" class="large-6 columns">
    <h2>Create an account!</h2>

    <p>
        This is a great site, you should sign up.
    </p>

    <p>Enter an email address with @example.com to trigger the server-side validation error.</p>

    <hr />

    {{#formFor controller}}
        <div class="row">
            <div class="large-12 columns">
                {{input username placeholder="Email address"}}
            </div>

        </div>

        <div class="row">
            <div class="large-12 columns">
                {{input password placeholder="Password"}}
            </div>
        </div>

        {{submit "Sign Up" class="button"}}
    {{/formFor}}
</div>
<div class="large-6 columns">
    <img src="assets/llamas.jpg" />
</div>

